body {

    background-image: url(jpg/img-1.jpg);
    background-size: cover;
    background-repeat: no-repeat ;
}

.table,th,td {
    border: 3px solid orange;
    border-collapse: collapse;
}
.th,td{
    padding: 5px;
}
.td{
    text-align: center;
}
